In [18]:
def printEven(n):
    
  cnt =0;
  sum =0;
  while(cnt!=n):
    if(cnt%2==0):
      sum=sum+cnt;
    cnt=cnt+1;
  return sum;  
print(printEven(20))

90

Factors list of a given numbers
 12----- 1,2,3,4,6,12

In [15]:
def factorsList(n):
  i=1;
  while(i!=n):
    if(n%i==0):
       print(i,end="  ");
    i=i+1;
  return ;
factorsList(12);

1  2  3  4  6

##list of python
list can be written in python in square Brackets and each item in list is separated by comma operator
List can be anything - int,char,float and string

list1 = [1 ,2,3,4,5]
#Entire list
print(list1+

In [19]:
list1 = [1,2,3,4,5];
#Entire List
print(list1);
#list[0]
print(list1[0])

[1, 2, 3, 4, 5]
1

In [28]:
list2 = ["Akhil","Aravind","Anil","Akash"]
for x in list2:
  print(x,end ="   ")

Akhil   Aravind   Anil   Akash

In [24]:
#list example with a particular index
list1 = [1,2,3,4,5,6,7]
for x in list1:
    print(x,end= " ")
    
print();
print(list1[4]);
print(list1[3:7]);
print(list1[0:3]);
print(list1[ :3]);
print(list1[ :7]);

1 2 3 4 5 6 7
5
[4, 5, 6, 7]
[1, 2, 3]
[1, 2, 3]
[1, 2, 3, 4, 5, 6, 7]

In [46]:
list1 = [1,2,3,4,5,6,7,8,9,10]
for x in list1:
    print(x,end = " ");
    
print();
print(list1[1:-1])
print(list1[2:-2])
print(list1[::2])
print(list1[::3])
print(list1[::-2])
print(list1[::-3])
print(list1[-1])
print(list1[-2])

1 2 3 4 5 6 7 8 9 10
[2, 3, 4, 5, 6, 7, 8, 9]
[3, 4, 5, 6, 7, 8]
[1, 3, 5, 7, 9]
[1, 4, 7, 10]
[10, 8, 6, 4, 2]
[10, 7, 4, 1]
10
9

In [57]:
list1 = ["Akhil","Adarsh","Akhil",1]
print(list1);
list1[2] = 15
print(list1);
del list1[3];
print(list1)
list1[1]="Gitam"
print(list1)

list2 = [1,2,3,4,5,6,7]
print(list2)

print(list1+list2)## concatination of both list

['Akhil', 'Adarsh', 'Akhil', 1]
['Akhil', 'Adarsh', 15, 1]
['Akhil', 'Adarsh', 15]
['Akhil', 'Gitam', 15]
[1, 2, 3, 4, 5, 6, 7]
['Akhil', 'Gitam', 15, 1, 2, 3, 4, 5, 6, 7]

In [75]:
list1 =[1,2,3,4,5]
print(list1)
del list1[2]
print(list1)
print(len(list1))
list1.append(15)
print(list1)
list1.append(150)
print(list1)
list1.append(1500)
print(list1)
print(list1.count(1))# it counts the number how mant times it repeats
print(list1.count(5))

[1, 2, 3, 4, 5]
[1, 2, 4, 5]
4
[1, 2, 4, 5, 15]
[1, 2, 4, 5, 15, 150]
[1, 2, 4, 5, 15, 150, 1500]
1
1