In [1]:
# upper() -Returns to the string which all characters are in upper case
#lower() - returns to the string which all the character are in lower case

In [4]:
str = "Mahesh"
print(str.upper())
print(str.lower())

MAHESH
mahesh

In [13]:
s= 'a I'
s1="python"
print(s.islower())
print(s1.islower())

False
True

In [11]:
s=" Application"
s1='A'
print(s.isupper())
print(s1.isupper())

False
True

In [27]:
s= "1234"
s1="App1889"
print(s.isnumeric())
print(s1.isnumeric())

True
False

In [20]:
s="Application"
s1="App1889"
print(s.isalpha())
print(s1.isalpha())

True
False

In [23]:
s="python programming"
s1="Python Programming"
print(s.istitle())
print(s1.istitle())

False
True

In [36]:
s ="python"
print(s.isspace())

False

In [40]:
str = "Python"
print(" ".join(str))

P y t h o n

In [48]:
print(" ,".join(["python","programming","easy"]))

python ,programming ,easy

In [44]:
s = "python"
s1=" "
print(s.isspace())
print(s1.isspace())

False
True

In [61]:
lst =["man " ]
print(" ,".join(lst))

man

In [62]:
s= "python programming is easy to learn"

print(s.split())
print(s.split("a"))
print(s.split(","))

['python', 'programming', 'is', 'easy', 'to', 'learn']
['python progr', 'mming is e', 'sy to le', 'rn']
['python programming is easy to learn']

In [66]:
s= "Python programming is hard to learn"
lst=s.split()
print(lst)
print(lst.index("is"))## to find Index

['Python', 'programming', 'is', 'hard', 'to', 'learn']
2

In [73]:
s= "Python programming is hard to learn"
lst =list(s)
print(lst)
print(s.split(","))## strings to words

['P', 'y', 't', 'h', 'o', 'n', ' ', 'p', 'r', 'o', 'g', 'r', 'a', 'm', 'm', 'i', 'n', 'g', ' ', 'i', 's', ' ', 'h', 'a', 'r', 'd', ' ', 't', 'o', ' ', 'l', 'e', 'a', 'r', 'n']
['Python programming is hard to learn']

In [77]:
s="Python Programming"
s1="Python is hard"
print(s.replace("gra","application"))
print(s1.replace("is","very"))

Python Proapplicationmming
Python very hard

In [78]:
t1=("python","programming",1989,2019,"machine learning","A1")
t2=1,2,3,4,5
print(t1)
print(t2)

('python', 'programming', 1989, 2019, 'machine learning', 'A1')
(1, 2, 3, 4, 5)

In [88]:
t1=("python","programming",1989,2019,"machine learning","A1")
print("t1[0]=",t1[0])
print("t1[-1]",t1[-1])
print("t1[1:3]",t1[1:3])

t1[0]= python
t1[-1] A1
t1[1:3] ('programming', 1989)

In [95]:
t1=("python", "programming")
t2=(1989,2019,"ML","AI")
t3=t1+t2
print(t3)

('python', 'programming', 1989, 2019, 'ML', 'AI')

In [96]:
t1=("python","programming",1989,2019,"machine learning","A1")
print(len(t1))

6

In [98]:
t1=(1,12,34,56,78,)
t2=(12,11)
print(max(t1))
print(max(t2))

78
12

In [102]:
t1=(1,92,17,23,21,69)
t2=(1,34,64,91,45,6)
print(t1)
print(t2)

(1, 92, 17, 23, 21, 69)
(1, 34, 64, 91, 45, 6)

In [104]:
list1=["python","programming",1989,2019,"machine learning","A1"]
print(list1)
tuple1=tuple(list1)
print(tuple1)

['python', 'programming', 1989, 2019, 'machine learning', 'A1']
('python', 'programming', 1989, 2019, 'machine learning', 'A1')

In [106]:
## Python Dictionary

In [115]:
user1 = {'Name':'mahesh','Age':'18','E-mail-id':'mahesh.indukuri1999@gmail.com','Mobile no':'9100080002'}
print("user1[Name] =", user1['Name'])
print("user1[Age] =", user1['Age'])
print("user1[E-mail-id] =", user1['E-mail-id'])
print("user1[Mobile no] =", user1['Mobile no'])

user1[Name] = mahesh
user1[Age] = 18
user1[E-mail-id] = mahesh.indukuri1999@gmail.com
user1[Mobile no] = 9100080002

In [125]:
user1 = {'Name':'mahesh','Age':'18','E-mail-id':'mahesh.indukuri1999@gmail.com','Mobile no':'9100080002'}
print(user1['E-mail-id'])
#updatwe the digit into object data 
user1['E-mail-id']='221810306021@gitam.in'
print(user1['E-mail-id'])
user1['Address']='Hyderabad'## adding new information
print(user1['Address'])

mahesh.indukuri1999@gmail.com
221810306021@gitam.in
Hyderabad

In [134]:
user1 = {'Name':'mahesh','Age':'18','E-mail-id':'mahesh.indukuri1999@gmail.com','Mobile no':'9100080002'}
print(len(user1))



#user1['Address']
##print(user1)

4

In [137]:
user1 = {'Name':'mahesh','Age':'18','E-mail-id':'mahesh.indukuri1999@gmail.com','Mobile no':'9100080002'}
user2=user1.copy()
print(user1)
print(user2)
user1['Address']='Hyderabad'
print(user1)
print(user2)

{'Name': 'mahesh', 'Age': '18', 'E-mail-id': 'mahesh.indukuri1999@gmail.com', 'Mobile no': '9100080002'}
{'Name': 'mahesh', 'Age': '18', 'E-mail-id': 'mahesh.indukuri1999@gmail.com', 'Mobile no': '9100080002'}
{'Name': 'mahesh', 'Age': '18', 'E-mail-id': 'mahesh.indukuri1999@gmail.com', 'Mobile no': '9100080002', 'Address': 'Hyderabad'}
{'Name': 'mahesh', 'Age': '18', 'E-mail-id': 'mahesh.indukuri1999@gmail.com', 'Mobile no': '9100080002'}

In [143]:
user1 = {'Name':'mahesh','Age':'18','E-mail-id':'mahesh.indukuri1999@gmail.com','Mobile no':'9100080002'}
print(user1.items())
print(user1.values())

dict_items([('Name', 'mahesh'), ('Age', '18'), ('E-mail-id', 'mahesh.indukuri1999@gmail.com'), ('Mobile no', '9100080002')])
dict_values(['mahesh', '18', 'mahesh.indukuri1999@gmail.com', '9100080002'])

In [144]:
user1 = {'Name':'mahesh','Age':'18','E-mail-id':'mahesh.indukuri1999@gmail.com','Mobile no':'9100080002'}
user2=user1.copy()
print(user1.values())
print(user2.values())

dict_values(['mahesh', '18', 'mahesh.indukuri1999@gmail.com', '9100080002'])
dict_values(['mahesh', '18', 'mahesh.indukuri1999@gmail.com', '9100080002'])

In [152]:
lst=["python","programming"]
print((lst[0],lst[1]))

('python', 'programming')

In [30]:
##Add new contacts
contacts = {}
def addContact(name,phone):
    ## Verify the contact doesnt already exist
    if name not in contacts:
        contacts[name]=phone
        print("Contact %s added"% name)
    else:
        print("Contacts %s added"% name)
    return contacts
addContact("Mahesh",9100080002)
addContact("Jaya",9618795033)
addContact("man",9123412312)
addContact("human",8123401234)

Contact Mahesh added
Contact Jaya added
Contact man added
Contact human added

{'Mahesh': 9100080002,
 'Jaya': 9618795033,
 'man': 9123412312,
 'human': 8123401234}

In [26]:
## Search for contact

def searchContact(name):
    if name in contacts:
        print(name,":- ",contacts[name])
    else:
        print("%s does not exists"% name)
    return
searchContact("Mahesh")
searchContact("Jay")

Mahesh :-  9100080002
Jay does not exists

In [42]:
##New contacts is given in dictionary
def importContacts(newContacts):
    contacts.update(newContacts)
    print(len(newContacts.keys()),"Contacts added Succesfully")
    return newContacts
newContacts= {'Dinesh':8008001,'Ajay': 910000}
importContacts(newContacts)

2 Contacts added Succesfully

{'Dinesh': 8008001, 'Ajay': 910000}

In [47]:
## Delete contacts from list
def deleteContact(name):
    if name in contacts:
        del contacts[name]
        print(name,"is deleted in contacts")
    else:
        print(name,"is not exists in contacts")
    return contacts
deleteContact("Dinesh")
deleteContact("Mann")

Dinesh is not exists in contacts
Mann is not exists in contacts

{'Mahesh': 9100080002, 'man': 9123412312, 'human': 8123401234, 'Ajay': 910000}

In [55]:
##modify the Contacts
def updateContact(name,phone):
    if name in contacts:
        contacts[name]=phone
        print(name," :Update with new phone number")
    else:
        print(name," :not exists in contacts")
    return contacts
updateContact("Mahesh",9100080002)
updateContact("human",8008001582)

Mahesh  :Update with new phone number
human  :Update with new phone number

{'Mahesh': 9100080002, 'man': 9123412312, 'human': 8008001582, 'Ajay': 910000}

In [58]:
list1=[1,2,3,4]
print("%d%d%d%d"% (list1[0],list1[1],list1[2],list1[3]))

1234

In [59]:
lst=[1,2,3,4]
print("Values at :{0} Value at:{1}".format(lst[0],lst[1]))
print("values at :{0} value at:{1}".format(lst[2],lst[3]))

Values at :1 Value at:2
values at :3 value at:4

In [64]:
from math import floor as f1
f1(123.456)

123

In [65]:
from math import factorial as fact
fact(5)

120

In [66]:
import math
math.factorial(5)

120

In [2]:
import random
def generateRandomNumber(n,lb,ub):
    for i in range(0,n):
        print(random.randint(lb,ub),end=" ")
    return
generateRandomNumber(10,12,120)

54 60 60 74 120 26 15 93 47 71